@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  background-color: black;
}

.produtos {
  padding: 4% 4% 4% 4%;
}

.itens {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.itens .anuncio {
  position: relative;
  width: 100px;
  height: 300px;
}

.itens .anuncio img {
  position: absolute;
  top: 0;
  width: 100px;
  height: 200px;
  border: 2px white solid;
}

.itens .anuncio .descricao {
  position: absolute;
  top: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  border: 2px #ffffff solid;
}